## CREDIT CARD FRAUD Detection  
Importing Libraries

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

Loadig dataset :

In [2]:
cc_data = pd.read_csv("C:/Users/Vinayak Mokashi/Downloads/creditcard.csv")

In [3]:
cc_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
cc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
cc_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

#### We can see that the data is highly unbalanced
0 => Normal Transaction  
1 => Fraudulent Transaction  
#### For analysis we will seperate our data into Legit and Fraud

In [7]:
legit = cc_data[cc_data.Class==0]
fraud = cc_data[cc_data.Class==1]

In [12]:
legit.shape,fraud.shape

((284315, 31), (492, 31))

In [21]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [22]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [23]:
cc_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

### Undersampling
**Build a sample dataset containing similar distribution of Legit transactions and Fraud transactions.**  
  
Number of Fraud transactions = 492  
so, we'll select 492 Legit transactions to make them equal  
As the Data was imbalanced

In [24]:
legit_sample = legit.sample(n=492)

Concatinating the two DataFrames : legit_sample and fraud

In [25]:
new_df = pd.concat([legit_sample, fraud], axis=0)

In [26]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
59319,48789.0,-1.178647,1.242484,0.267759,0.766364,-0.418567,0.152703,-0.048336,1.024744,-0.905909,...,0.298520,0.493600,-0.052470,-0.338103,-0.342384,-0.305781,-0.187463,-0.015620,56.49,0
121315,76147.0,-0.436584,0.831498,1.868471,0.393840,0.141131,-0.284414,0.387589,0.028551,-0.300399,...,0.040136,0.099516,-0.102749,-0.135289,-0.331776,-0.568305,0.173161,0.159184,8.73,0
160303,113205.0,2.135441,-0.145680,-1.805412,0.013558,0.458675,-0.508269,0.057115,-0.167900,1.009736,...,0.197496,0.655572,-0.066928,-0.042202,0.411195,-0.401156,-0.006239,-0.057730,1.00,0
149872,92097.0,2.007067,-0.083574,-1.066309,0.435659,0.129360,-0.573238,-0.039734,-0.202657,1.646839,...,-0.399199,-0.850661,0.297087,-0.466769,-0.342011,0.165099,-0.104039,-0.078636,16.99,0
26933,34314.0,-1.623773,-0.800288,2.632139,1.224768,0.148780,0.141212,-0.546693,0.570847,-0.068042,...,0.413708,0.749614,0.160144,0.203321,0.253061,-0.124117,0.052879,0.105279,118.70,0

In [27]:
new_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [29]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [30]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96882.806911,-0.031951,0.134253,0.007066,-0.014305,0.039438,-0.012441,0.027071,-0.026232,-0.029765,...,-0.005140,0.029800,0.009117,0.034766,-0.018677,-0.012706,0.032819,0.025766,0.019290,76.906159
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

#### Splitting data into Features & Targets

In [31]:
X = new_df.drop(columns='Class', axis=1)
Y = new_df['Class']

In [33]:
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
59319,48789.0,-1.178647,1.242484,0.267759,0.766364,-0.418567,0.152703,-0.048336,1.024744,-0.905909,...,-0.339564,0.298520,0.493600,-0.052470,-0.338103,-0.342384,-0.305781,-0.187463,-0.015620,56.49
121315,76147.0,-0.436584,0.831498,1.868471,0.393840,0.141131,-0.284414,0.387589,0.028551,-0.300399,...,0.019874,0.040136,0.099516,-0.102749,-0.135289,-0.331776,-0.568305,0.173161,0.159184,8.73
160303,113205.0,2.135441,-0.145680,-1.805412,0.013558,0.458675,-0.508269,0.057115,-0.167900,1.009736,...,-0.287777,0.197496,0.655572,-0.066928,-0.042202,0.411195,-0.401156,-0.006239,-0.057730,1.00
149872,92097.0,2.007067,-0.083574,-1.066309,0.435659,0.129360,-0.573238,-0.039734,-0.202657,1.646839,...,-0.247022,-0.399199,-0.850661,0.297087,-0.466769,-0.342011,0.165099,-0.104039,-0.078636,16.99
26933,34314.0,-1.623773,-0.800288,2.632139,1.224768,0.148780,0.141212,-0.546693,0.570847,-0.068042,...,0.464054,0.413708,0.749614,0.160144,0.203321,0.253061,-0.124117,0.052879,0.105279,118.70

In [37]:
Y

59319     0
121315    0
160303    0
149872    0
26933     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

#### Splitting the data into Train and Test

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2, stratify=Y, random_state=2)

In [41]:
X.shape, X_train.shape, X_test.shape

((984, 30), (787, 30), (197, 30))

In [42]:
Y.shape, Y_train.shape, Y_test.shape

((984,), (787,), (197,))

## MODEL TRAINING 
We will we applying the following Algoritms :  
* 1. Logistic Regression
* 2. SVM
* 3. Random Forest
* 4. Bagging
* 5. XGBoost

In [147]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
import xgboost as xgb

from sklearn.metrics import accuracy_score

### 1. LOGISTIC REGRESSION

In [148]:
model = LogisticRegression()

TRAINING OUR MODEL :

In [149]:
# training the Logistic Regression Model with Training Data

model.fit(X_train, Y_train)

LogisticRegression()

#### Model Evaluation

PREDICTION :

In [150]:
X_train_prediction = model.predict(X_train)

In [151]:
X_test_prediction = model.predict(X_test)

**Accuracy Score :**

TRAINING DATA  :

In [89]:
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [90]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9212198221092758

TEST DATA :

In [91]:
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [92]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9137055837563451

### 2. SUPPORT VECTOR MACHINE

In [120]:
model = SVC(kernel="linear")

TRAINING OUR MODEL :

In [121]:
# training the Logistic Regression Model with Training Data

model.fit(X_train, Y_train)

SVC(kernel='linear')

#### Model Evaluation

PREDICTION :

In [122]:
X_train_prediction = model.predict(X_train)

In [123]:
X_test_prediction = model.predict(X_test)

**Accuracy Score :**

TRAINING DATA  :

In [124]:
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [125]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.8996188055908514

TEST DATA :

In [126]:
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [127]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9086294416243654

### 3. RANDOM FOREST CLASSIFIER

In [102]:
model = RandomForestClassifier()

TRAINING OUR MODEL :

In [103]:
# training the Logistic Regression Model with Training Data

model.fit(X_train, Y_train)

RandomForestClassifier()

#### Model Evaluation

PREDICTION :

In [79]:
X_train_prediction = model.predict(X_train)

In [80]:
X_test_prediction = model.predict(X_test)

**Accuracy Score :**

TRAINING DATA  :

In [81]:
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [82]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  1.0

TEST DATA :

In [83]:
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [84]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.934010152284264

### 4. Bagging

In [161]:
    from sklearn.ensemble import BaggingClassifier
    model = BaggingClassifier(random_state = 100)
    model.fit(X_train, Y_train)
    X_train_prediction = model.predict(X_train)
    X_test_prediction = model.predict(X_test)
    test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
    print(f'Accuracy score on Test Data  : ', test_data_accuracy)

Accuracy score on Test Data  :  0.9187817258883249

### 5. XGBoost

In [162]:
Y_train = Y_train.astype('category').cat.codes
Y_train.value_counts()
Y_train.astype('category')
Y_test = Y_test.astype('category').cat.codes
Y_test.astype('category')

247995    1
112758    0
199351    0
199343    0
15451     1
         ..
108258    1
12108     1
99506     1
74496     1
213838    0
Length: 197, dtype: category
Categories (2, int64): [0, 1]

In [165]:
import xgboost
from xgboost import XGBClassifier
model_Xgboost = XGBClassifier()
model_Xgboost.fit(X_train, Y_train)
y_pred_XGBoost = model_Xgboost.predict(X_test)
 
print("Accuracy is:",accuracy_score(Y_test,y_pred_XGBoost))

Accuracy is: 0.9390862944162437